@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    color: #000;
    display: flex;
    text-align: center; 
    justify-content: center;
    margin: 0 1rem;
}

html {
    font-family: "inter", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    margin-top: 1.5rem;
}

header img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid #5f5c5a;
    justify-content: center;
}

header h1 {
    font-family: Epilogue;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    justify-content:center;
    font-weight: 500;
}

header h2 {
    padding: 0;
    margin-top: 0.5rem;

    color: #5f5c5a;

    display: grid;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat;
}

nav ul {
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

nav img{
    border: none;
}

.links img {
    width: 1.5rem;
    height: 1.5rem;

}

.myLinks h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Epilogue;

    margin-bottom: 1rem;
}

.myLinks li {
    margin: 0 1.5rem;
    margin-bottom: 1rem;
    min-height: 4rem;
    border-radius: 0.25rem;
    box-shadow: 5px 6px 5px #5f5c5a;

    background-color: #FFFFFF;
}

.myLinks p {
    padding: 1.5rem;
    color: #000000;
    font-weight: 500;
}

li p:hover {
    background-color: #241A1C;
    color: #a45a49;
}