@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

:root {
    --background-color: #CCCCCC;
    --primary-color: #000;
    --secondary-color: #5f5c5a;
    --accent-color: #a45a49;
    --highlight-color: #241A1C;
    --white-color: #FFFFFF;
    --box-shadow-color: #5f5c5a;
    --border-color: #5f5c5a;
    --icon-color: #000;

    --font-family-inter: 'Inter', sans-serif;
    --font-family-epilogue: 'Epilogue', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    text-align: center; 
    justify-content: center;
    margin: 0 1rem;
}

html {
    font-family: var(--font-family-inter);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    margin-top: 1.5rem;
}

header img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    justify-content: center;
}

#mode_icon {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
}

header h1 {
    font-family: var(--font-family-epilogue);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    justify-content:center;
    font-weight: 500;
}

header h2 {
    padding: 0;
    margin-top: 0.5rem;

    color: var(--secondary-color);

    display: grid;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-family-montserrat);
}

nav ul {
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

nav i{
    border: none;
    color: var(--icon-color);
}

.links i {
    width: 1.5rem;
    height: 1.5rem;
}

.links i:hover {
    transform: scale(1.2);
}

.myLinks h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: var(--font-family-epilogue);

    margin-bottom: 1rem;
}

.myLinks li {
    margin: 0 1.5rem;
    margin-bottom: 1rem;
    min-height: 4rem;
    border-radius: 0.25rem;
    box-shadow: 5px 6px 5px var(--box-shadow-color);

    background-color: var(--white-color);
}

.myLinks p {
    padding: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
}

.myLinks li:hover {
    background-color: var(--highlight-color);

    transform: scale(1.02);
}

.myLinks p:hover {
    color: var(--accent-color);
    transform: scale(1.08);
}

.footer-autor {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-family-inter);
    font-weight: 500;
    color: var(--secondary-color);
}

.dark#root {
    --background-color: #181012;
    --primary-color: #a45a49;
    --secondary-color: #C7BAB3;
    --accent-color: #C7BAB3;
    --highlight-color: #1f1517;
    --white-color: #241a1c;
    --box-shadow-color: #5f5c5a;
    --border-color: #241a1c;
    --icon-color: #ca6702;
}
